.create-container {
  max-width: var(--app-content-max-width);
  margin: 0 auto;
  padding: 2rem var(--app-content-padding-x);

  form {
    max-width: 600px;
    margin: 0 auto;
  }
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
